# This file is used by pip to install required python packages

# lastest jinja2 version has changed and is not compatible with flask 1.1.2, 
# this is a workarround to solved this issue without updated to lastest flask version
Jinja2==3.0.3
itsdangerous==2.0.1
werkzeug==2.0.2

#Flask framework version | pip install Flask
Flask==2.3.2

#Python files formater | pip install black
black==19.10b0

#Python static code analysis tool | pip install pylint
pylint==2.5.2

#Requests library: https://github.com/psf/requests
requests==2.25.0

flask-cors==3.0.10

# Flask mongo ORM | pip install flask-mongoengine
flask-mongoengine==1.0.0
